.wrapper {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position:fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url('src/assets/birdsShelter.avif');
  }
  
  .form {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 90%;
    max-width: 360px;
    max-height: calc(100vh - 40px);
    overflow-y: hidden; /* Hide scroll */
  
    padding: 1rem;  /* Reduced padding */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: #fff;
  
    @media (max-width: --mantine-breakpoint-sm) {
      max-width: 100%;
    }
  }
  
  .title {
    color: #ffff;;
    font-family: 'Greycliff CF', sans-serif; /* Font family */
  text-align: center;
  }