/* Global box-sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* Same background as your Login page */
  background-image: url(https://images.unsplash.com/photo-1535930891776-0c2dfb7fda1a?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.form {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 90%;
  max-width: 360px;
  max-height: calc(100vh - 40px);
  overflow-y: hidden;
  padding: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.title {
  color: black;
  font-family: 'Greycliff CF', sans-serif;
  text-align: center;
  margin-bottom: 1.5rem;
  
}

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
  .form {
    max-width: 100%;
  }
}
